# Copyright (C) 2020-2025 OpenRTX Contributors
#
# This file is part of OpenRTX.
#
# OpenRTX is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# OpenRTX is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

#Build dirs
build*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries
*.bin
*.elf
*.hex
*.map

# Python byte-compiled
*/__pycache__

# Kdevelop files
*.kdev4
.kdev4/

# gutentags
tags


# subprojects
subprojects/radio_tool
subprojects/codec2
subprojects/tinyusb
subprojects/XPowersLib

# ignore log files
*.log

# ignore linux openrtx emulator history file
.emulatorsh_history

# Compiled script
scripts/get_demod_log

# OpenRTX Codeplugs
*.rtxc
